
/* ToDoItem.css */
.todo-itemss {
    /* Your default styles here */
    padding: 5px;
    margin: 3px;
    background-color: rgb(241, 239, 239);
    color: white;
    background-color: rgb(16, 16, 199);
    border-radius: 10px;
    border-color: blue;
    border-width: 20px;
  }
  
  .highlightred {
    background-color: red;
    color: white; /* Set font color to white for items with background color red */
    border-radius: 10px
  }
  
  